<div ng-controller="RegCtrl" class="reg-wrapper" ng-cloak>
  <div class="reg-wrapper-loading" ng-class="{'hidden': form > 0}">
    <img src="/images/google-loading-icon.gif" width="100" height="100" />
  </div>
  <div class="reg-work-box col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6 col-xlg-offset-4 col-xlg-4" ng-class="{'workingBox': form > 0}">
    <!--<input type="button" value="Click +" ng-click="formSubmit()" />-->
    <!--<input type="button" value="Click -" ng-click="less()" />-->
    <form name="signup_form">
      <h1 ng-show="form <= sendtime"><%= LocalizBySess.__("Registration", req) %>: <%= LocalizBySess.__("step", req) %> {{form}} <%= LocalizBySess.__("of", req) %> {{sendtime}}</h1>
      <h1 ng-show="form > sendtime">&nbsp;</h1>
      <div class="form-page" ng-hide="form > 1">
        <div class="form-group">
          <input class="form-control" ng-model="signup.secondname" ng-minlength="3" ng-maxlength="20" required ng-pattern="oneWordPattern" placeholder="<%= LocalizBySess.__("Second name", req) %>" type="text" name="secondname" />
          <div class="error" ng-show="signup_form.secondname.$dirty || signup_form.secondname.$invalid">
            <small class="error" ng-show="signup_form.secondname.$error.minlength">Фамилия не должна быть короче 3 символов</small>
            <small class="error" ng-show="signup_form.secondname.$error.maxlength">Фамилия не должна превышать 20 символов</small>
            <small class="error" ng-show="signup_form.secondname.$error.pattern">Недопустимые символы</small>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="<%= LocalizBySess.__("Name", req) %>" type="text" name="firstname" ng-model="signup.firstname" ng-minlength="2" ng-maxlength="20" required ng-pattern="oneWordPattern" />
          <div class="error" ng-show="signup_form.firstname.$dirty || signup_form.firstname.$invalid">
            <small class="error" ng-show="signup_form.firstname.$error.minlength">Имя не должно быть короче 2 символов</small>
            <small class="error" ng-show="signup_form.firstname.$error.maxlength">Имя не должно превышать 20 символов</small>
            <small class="error" ng-show="signup_form.firstname.$error.pattern">Недопустимые символы</small>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="<%= LocalizBySess.__("Patronymic", req) %>" name="patronymic" ng-model="signup.patronymic" ng-minlength="2" ng-maxlength="40" required ng-pattern="oneWordPattern" />
          <div class="error" ng-show="signup_form.patronymic.$dirty || signup_form.patronymic.$invalid">
            <small class="error" ng-show="signup_form.patronymic.$error.minlength">Отчество не должно быть короче 2 символов</small>
            <small class="error" ng-show="signup_form.patronymic.$error.maxlength">Отчество не должно превышать 40 символов</small>
            <small class="error" ng-show="signup_form.patronymic.$error.pattern">Недопустимые символы</small>
          </div>
        </div>
        <div class="form-group one-button">
          <button type="button" ng-disabled="signup_form.secondname.$invalid || signup_form.firstname.$invalid || signup_form.patronymic.$invalid" ng-click="formSubmit()" class="btn btn-primary"><%= LocalizBySess.__("Next", req) %></button>
        </div>
      </div>
      <div class="form-page" ng-show="form == 2">
        <div class="form-group">
          <input class="form-control" type="email" placeholder="<%= LocalizBySess.__("Email", req) %>" ng-pattern="emailPattern" name="mailbox" required ng-model="signup.mailbox" />
          <div class="error" ng-show="signup_form.mailbox.$dirty || signup_form.mailbox.$invalid">
            <small class="error" ng-show="signup_form.mailbox.$error.pattern">Неверный формат электронной почты</small>
          </div>
        </div>
        <div class="form-group reg-form-phone-group">
          <div class="input-group col-xs-12 col-sm-6 reg-form-phone-box">
            <div class="form-group">
              <span class="input-group-addon code-button">
                <input type="button" class="input-group-addon btn btn-default" value="<%= LocalizBySess.__("Get code", req) %>" ng-click="getCode()"
                ng-disabled="signup_form.phone.$invalid" />
              </span>
              <input type="tel" name="phone" class="form-control reg-form-phone-input" required ng-model="signup.phone" ui-mask="{{'9 (999) 999-99-99'}}" model-view-value="true" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 reg-form-validcode-box">
            <input type="text" class="form-control" required ng-model="validCode" name="validcode" placeholder="<%= LocalizBySess.__("Check code", req) %>" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6"><span class="phone-code">{{phoneCode}}</span></div>
          <div class="col-xs-6 submit-btn">
            <button type="button" class="btn btn-default btn-back" ng-click="less()"><%= LocalizBySess.__("Back", req) %></button>
            <button type="button" ng-disabled="signup_form.mailbox.$invalid || signup_form.phone.$invalid || phoneCode !== validCode ||
              signup_form.validcode.$invalid" ng-click="formSubmit(true)" class="btn btn-primary"><%= LocalizBySess.__("Send", req) %></button>
          </div>
        </div>
      </div>
      <!--<div ng-if="form == 3">-->
        <!--<pre>{{ signup | json }}</pre>-->
        <!--<pre>{{ JSON.stringify(signup.visit_params) }}</pre>-->
        <!--<input type="button" value="Отправить" ng-click="sendJson()" class="btn btn primary" />-->
      <!--</div>-->
    </form>
  </div>
</div>
