<form method="post" action="/admin/session/create" id="login_form"
  class="form-signin" ng-controller="langCtrl">
  <h2><%= LocalizBySess.__("Please login", req) %></h2>
  <div class="form-group">
    <% if(flash && flash.err) { %>
      <ul class="alert alert-warning">
      <% Object.keys(flash.err).forEach(function(item) { %>
        <% var msg = flash.err[item]; %>
        <% if(msg && msg != 0 && msg != '') { %><li><%= msg %></li><% } %>
      <% }); %>
      </ul>
    <% } %>
  </div>
  <div class="form-group">
    <input type="text" class="form-control field__input" name="login"
      id="login" placeholder="<%= LocalizBySess.__("Login", req) %>" />
  </div>
  <div class="form-group">
    <input type="password" class="form-control field__input"
      name="password" id="password"
      placeholder="<%= LocalizBySess.__("Password", req) %>" />
  </div>
  <div class="form-group">
    <select name="lang" ng-model="model" selectpicker data-style="btn-primary" class="lang-selector">
      <option value="default">-- <%= LocalizBySess.__("Language", req) %>&nbsp;<%= LocalizBySess.__("by default", req) %> --</option>
      <option value="ru"><%= LocalizBySess.__("Russian", req) %></option>
      <option value="en"><%= LocalizBySess.__("English", req) %></option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" value="<%= LocalizBySess.__("Enter", req) %>"
      id="login_button" class="btn btn-primary btn-active"
      onClick="if(!formValid($('form#login_form'))) return false;" />
  </div>
</form>

