<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--STYLES-->
    <link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bower_components/bootstrap-big-grid/dist/css/bootstrap-big-grid.min.css">
    <link rel="stylesheet" href="/js/bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="/styles/admin_styles.css">
    <link rel="stylesheet" href="/styles/bootstrap-select.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <link rel="stylesheet" href="/styles/reg_styles.css">
    <!--STYLES END-->
    <!--[if lt IE 9]><script src="/js/vendor/extra/excanvas.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/vendor/extra/es5-shim.js"></script><![endif]-->
  </head>
  <body ng-app="angularApp">
    <% if(typeof(sessionUser) != 'undefined' && sessionUser) { %>
      <%- partial('../partials/admin/usermenu.ejs') %>
    <% } %>
    <div class="contentWrapper" style="margin-top: <% if(typeof(sessionUser) != 'undefined' && sessionUser) { %>60px<% } else { %>20px<% } %>;">
      <%- body %>
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/bootstrap-select.js"></script>
    <script src="/js/vendor/jquery-ui.js"></script>
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <script src="/js/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/js/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/js/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/js/bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="/js/bower_components/angular-ui-mask/dist/mask.min.js"></script>
    <script src="/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/js/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/js/angular-app/app.js"></script>
    <script src="/js/angular-app/util/config.service.js"></script>
    <script src="/js/angular-app/util/http.service.js"></script>
    <script src="/js/angular-app/util/stat.service.js"></script>
    <script src="/js/angular-app/util/translate.service.js"></script>
    <script src="/js/angular-app/actions/actions-ctrl.js"></script>
    <script src="/js/angular-app/directives/angular-bootstrap-select.js"></script>
    <script src="/js/angular-app/directives/details-window.js"></script>
    <script src="/js/angular-app/directives/moz-bell.js"></script>
    <script src="/js/angular-app/directives/st-action-double-icon.js"></script>
    <script src="/js/angular-app/directives/st-action-table.js"></script>
    <script src="/js/angular-app/directives/st-onpage-list.js"></script>
    <script src="/js/angular-app/directives/st-select.js"></script>
    <script src="/js/angular-app/directives/st-user-row.js"></script>
    <script src="/js/angular-app/filters/st-roles-filter.js"></script>
    <script src="/js/angular-app/register/register-ctrl.js"></script>
    <script src="/js/angular-app/stat/stat-ctrl.js"></script>
    <script src="/js/angular-app/users/users-ctrl.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/roles.dialog.js"></script>
    <script src="/js/roles.list.js"></script>
    <script src="/js/selectpicker-init.js"></script>
    <script src="/js/user-form.list.js"></script>
    <!--SCRIPTS END-->
    </body>
</html>
