<span ng-if="finTranslate === true">{{ vocabulary["Show by"] }}:&nbsp;</span>
<select selectpicker data-style="btn-primary" ng-model="onPage" id="selectOnPage" ng-options="n as n for n in [1,3,5,10,15]"></select>
<span ng-if="finTranslate === true">{{ vocabulary["per page"] }}</span>
