<div class="pagination-links-wrapper">
  <span class="pagination-link-box" ng-show="currentPage > stDisplayedPages">
    <a href="" title="{{ vocabulary['At the first page'] }}" ng-click="selectPage(1)"><<</a>
  </span>
  <span class="pagination-link-box" ng-show="currentPage > 1">
    <a href="" title="{{ vocabulary['Previous page'] }}" ng-click="selectPage(currentPage - 1)"><</a>
  </span>
  <span class="pagination-link-box" ng-show="currentPage > stDisplayedPages">
    <a>...</a>
  </span>
  <ul class="pagination" ng-show="numPages > 1">
    <li ng-repeat="num in pages" ng-show="num < currentPage + stDisplayedPages && num > currentPage - stDisplayedPages" ng-class="{'active': num ==
    currentPage}">
      <a href="" ng-click="selectPage(num)">{{num}}</a>
    </li>
  </ul>
  <span class="pagination-link-box" ng-show="numPages - currentPage >= stDisplayedPages">
    <a>...</a></span>
  <span class="pagination-link-box" ng-show="currentPage < numPages">
    <a href="" title="{{ vocabulary['Next page'] }}" ng-click="selectPage(currentPage + 1)">></a></span>
  <span class="pagination-link-box" ng-show="numPages - currentPage >= stDisplayedPages">
    <a href="" title="{{ vocabulary['At the last page'] }}"
      ng-click="selectPage(numPages)">>></a></span>
  <span ng-show="numPages > 1" ng-if="finTranslate === true">
    <strong>( {{ vocabulary["Pg."] }} {{ currentPage }} {{ vocabulary["of"] }} {{ numPages }} )</strong>
  </span>
</div>
