<%
var newUser = ObjService.isEmpty(user) ? true : false;
var pageTitle = newUser ? "Create new user" : "Update user";
%>
<h2><%= LocalizBySess.__(pageTitle, req) %></h2>
<ol class="breadcrumb">
  <li><a href="/admin/user" title="<%= LocalizBySess.__("User list", req) %>"><%= LocalizBySess.__("User list", req) %></a></li>
  <li class="active"><%= LocalizBySess.__(pageTitle, req) %></li>
</ol>

<form action="<% if(newUser) { %>/admin/user/create<%
} else { %>/admin/user/update<% } %>" method="post" id="useradd">

  <div class="form-group">
  <% if(req.session.flash && req.session.flash.err) { %>
    <ul class="alert alert-warning">
    <% Object.keys(req.session.flash.err).forEach(function(item) { %>
      <% var msg = JSON.stringify(req.session.flash.err[item]); %>
      <% if(msg && msg != 0 && msg != '') { %><li><%= msg %></li><% } %>
    <% }); %>
    </ul>
  <% } %>
  </div>

  <div class="form-group">
    <input type="text" id="login" name="login"
      class="form-control field__input" value="<% if(!newUser) {
      %><%= user.login %><% } %>" placeholder="Login" />
  </div>

  <div class="form-group">
    <input type="text" id="name" name="name" class="form-control name field__input"
      value="<% if(!newUser) {%><%= user.name %><% } %>" placeholder="Full name" />
  </div>

  <div class="form-group">
    <input type="password" id="password" name="password"
      class="form-control field__input password<% if(!newUser) { %> empty<% } %>"
      placeholder="Password" value="" />
  </div>

  <div class="form-group">
    <input type="password" id="confirm" name="confirm"
      class="form-control field__input confirm<% if(!newUser) { %> empty<% } %>"
      value="" placeholder="Confirm password" />
  </div>

  <div class="form-group">
    <input type="email" id="mail" name="mail" class="form-control mail field__input"
      value="<% if(!newUser) {
      %><%= user.mail %><% } %>" placeholder="Email" />
  </div>
  <% if(newUser || (!newUser && user.role > sessionUser.role)) { %>
  <div class="form-group">
    <select name="role" id="role" class="field__input select">
      <option value="0">Select user role</option>
      <optgroup label="Roles"></optgroup>
    </select>
  </div>
  <% } %>

  <div class="form-group">
    <input type="submit"
      value="<% if(newUser) { %><%= LocalizBySess.__("Create", req) %><% } else { %><%= LocalizBySess.__("Update", req) %><% } %>"
      class="btn btn-default" onClick="if(!formValid($('form#useradd'))) return false;" />
    <% if(_csrf) { %>
    <input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />
    <% } %>
    <% if(!newUser && user.id) { %>
    <input type="hidden" name="id" value="<%= user.id %>" />
    <% } %>
  </div>

  <% if(!newUser) { %>
  <input type="hidden" name="rid" id="rid" value="<%= user.role %>" />
  <input type="hidden" name="uid" id="uid" value="<%= user.id %>" />
  <% } %>
</form>

