<div class="col-lg-6">
  <h2><%= LocalizBySess.__("Users list", req) %></h2>
</div>
<div class="col-lg-6 buttons-block">
  <% if(req.session.User.superadmin
		&& req.session.User.superadmin == true) { %>
	<a href="#" title="<%= LocalizBySess.__("Roles management", req) %>" id="roles-edit"
    class="btn btn-primary btn-sm"><span
    class="glyphicon glyphicon-star-empty"></span><%= LocalizBySess.__("Roles management", req) %></a><% } %>
  <a href="/admin/user/card" title="<%= LocalizBySess.__("Add user", req) %>"
    class="btn btn-primary btn-sm"><span
    class="glyphicon glyphicon-user"></span><%= LocalizBySess.__("Add user", req) %></a>
</div>

<div ng-controller="UserCtrl" ng-cloak ng-init="initOnPage()">
  <div class="col-lg-12 table_wrapper">
    <div ng-if="loading === false && rows.length == 0"><%= LocalizBySess.__("No records to show by the request", req) %></div>
    <div class="loading" ng-show="loading === true"><img src="/images/google-loading-icon.gif" width="100" height="100" alt="<%= LocalizBySess.__("Loading", req) %>..." /></div>
    <table ng-if="rows.length > 0 && loading === false" st-set-filter="stRolesFilter" st-safe-src="rows" st-table="displayed" class="table table-hover table-condensed user-list">
      <thead>
        <tr class="info">
          <th><strong><%= LocalizBySess.__("Status", req) %></strong></th>
          <th st-sort="login" class="sortable"><strong><%= LocalizBySess.__("System name", req) %></strong></th>
          <th st-sort="fullname" class="sortable"><strong><%= LocalizBySess.__("Full name", req) %></strong></th>
          <th st-sort="role" class="sortable"><strong><%= LocalizBySess.__("Role", req) %></strong></th>
          <th class="control-cell">&nbsp;</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="text" st-search="login" placeholder="<%= LocalizBySess.__("Search", req) %> <%= LocalizBySess.__("by login", req) %>" class="form-control"></td>
          <td><input type="text" st-search="name" placeholder="<%= LocalizBySess.__("Search", req) %> <%= LocalizBySess.__("by name", req) %>" class="form-control"></td>
          <td>
            <st-select predicate="role" type="object" object="roles"></st-select>
          </td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      <tr uid={{user.id}}
        st-user-row ng-class="{ 'warning inactive_row': user.active === false }"
        ng-repeat="user in displayed">
          <td><div class="onlinestat glyphicon glyphicon-globe"></div></td>
          <td>{{user.login}}</td>
          <td>{{user.name}}</td>
          <td>{{roles[user.role]}}</td>
          <td>
            <div>
              <a href="/admin/user/card/{{user.id}}"
                title="<%= LocalizBySess.__("Edit user", req) %> &laquo;{{user.login}}&raquo;"><span
                class="glyphicon glyphicon-edit btn-lg"></span></a>
              <a href="#" title="<%= LocalizBySess.__("Delete user", req) %> &laquo;{{user.login}}&raquo;"
                ng-click="userRemove(user)">
                <span class="glyphicon glyphicon-remove-sign btn-lg"></span></a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <div class="paginWrapper">
              <div st-items-by-page="onPage"
                st-displayed-pages="pagiVizLinks" st-pagination=""
                st-template="../../templates/pagination/st-pages-links.html">
              </div>
              <span onpage-select class="onPageSelect"></span>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    <input type="hidden" ng-model="pageNum" />
  </div>
</div>

<div id="rolesForm" title="<%= LocalizBySess.__("Roles manager", req) %>"></div>
