<h2><%= LocalizBySess.__("User info", req) %>&nbsp;&laquo;<%= user.login %>&raquo;</h2>
<table class="table table-striped table-hover">
  <tr>
    <td><strong><%= LocalizBySess.__("Login", req) %>:</strong>&nbsp;<%= user.login %></td>
  </tr>
  <tr>
    <td><strong><%= LocalizBySess.__("Full name", req) %>:</strong>&nbsp;<%= user.name %></td>
  </tr>
  <tr>
    <td><strong><%= LocalizBySess.__("Email", req) %>:</strong>&nbsp;<%= user.mail %></td>
  </tr>
  <tr>
    <td><strong><%= LocalizBySess.__("Role", req) %>:</strong>&nbsp;<%= user.role %></td>
  </tr>
</table>
<p>
  <a href="/admin/user" title="<%= LocalizBySess.__("User list", req) %>"><sup>&#8592;</sup>&nbsp;<%= LocalizBySess.__("Back to the user list", req) %></a>
</p>
