<% if(list && list.length > 0) { %>
	<% list.forEach(function(role) { %>
    <option value="<%= role.id %>"<% if(selected && role.id == selected) {
      %> selected<% } %>><%= role.name %></option>
	<% }); %>
<% } else { %>
<option value="0">No available roles</option>
<% } %>
