<% if(list && list.length > 0) { %>
<div class="sortbox">
  <div class="sortspacer"></div>
  <ul class="sortable">
    <% list.forEach(function(role) { %>
      <li><div class="row bg-primary" id="<%= role.id%>"><div class="glyphicon
        glyphicon-move"></div><div><%= role.name %></div></div></li>
    <% }); %>
  </ul>
  <div class="sortspacer"></div>
</div>
<img src="/images/loading_transparency.gif" width="47" height="47" class="load" alt="Loading..." />
<div class="resultbox"></div>
<% } else { %>
  <p class="bg-danger">Roles weren't created yet</p>
<% } %>
