<div ng-controller="StatCtrl" ng-cloak class="col-xs-12 table_wrapper">
  <div class="loading" ng-show="statLoading === true">
    <img src="/images/google-loading-icon.gif" width="100" height="100"
      alt="<%= LocalizBySess.__("Loading", req) %>..." />
  </div>
  <p ng-show="all == 0"><%= LocalizBySess.__("No records to show by the request", req) %></p>
  <div class="col-xs-12" ng-if="statLoading === false">
    <h1><%= LocalizBySess.__("Statistic", req) %></h1>
    <!--<input type="button" ng-click="addSourceElement('Mail.ru', 3)" value="Add Mail.ru +3" />-->
    <!--<input type="button" ng-click="addSourceElement('google', 2)" value="Add Google +2" />-->
    <p><%= LocalizBySess.__("Summary actions count", req) %>: {{all}}</p>
    <div class="stat-box col-xs-12 col-md-6 no-left-padding">
      <h2 class="stat-header"><%= LocalizBySess.__("By ingoing sources", req) %></h2>
      <p ng-if="statLoading === false && actionsBySourceLabels.length == 0 && actionsBySourceData.length == 0">
        <%= LocalizBySess.__("No actions", req) %>
      </p>
      <canvas id="actionsBySourceChart"
        ng-if="statLoading === false && actionsBySource.data.length > 0 && actionsBySource.labels.length > 0 && actionsBySource.data.length == actionsBySource.labels.length"
        class="chart chart-doughnut"
        data="actionsBySource.data"
        options="{ animationSteps : 50, animationEasing : 'easeOutBack' }"
        legend="true"
        labels="actionsBySource.labels"></canvas>
    </div>
    <div class="stat-box col-xs-12 col-md-6 no-right-padding">
      <h2 class="stat-header"><%= LocalizBySess.__("By search phrases", req) %></h2>
      <p ng-if="statLoading === false && actionsByTermLabels.length == 0 && actionsByTermData.length == 0">
        <%= LocalizBySess.__("No actions", req) %>
      </p>
      <canvas id="actionsByTermChart"
        ng-if="statLoading === false && actionsByTerm.data.length > 0 && actionsByTerm.labels.length > 0 && actionsByTerm.data.length == actionsByTerm.labels.length"
        class="chart chart-doughnut"
        data="actionsByTerm.data"
        options="{ animationSteps : 50, animationEasing : 'easeOutBack' }"
        legend="true"
        labels="actionsByTerm.labels"></canvas>
    </div>
  </div>
</div>
