body {
  font-size: 120%;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 220%;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  outline: none;
}

tab-heading {
  color: #428bca;
}

tab-heading:hover {
  color: #5da6e3;
}

tab-heading > i,
tab-heading > span {
  color: red;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

a {
  outline: 0;
  outline: none;
  font-size: 120%;
}

.selectpicker > li > a {
  font-size: 90%;
}

.paginWrapper .bootstrap-select {
  width: 55px !important;
}

.filter-select .bootstrap-select {
  min-width: 150px;
  width: 70% !important;
}

.lang-selector {
  width: 100% !important;
}

.glyphicon {
  margin-right: 10px;
}

.btn {
  padding: 4px 10px;
}

label {
  display: block;
}

.container {
  max-width: 100% !important;
  min-width: 600px;
}

.container.maincontent {
  margin-top: 40px;
}

ul.adminmenu,
ul.adminmenu li {
  list-style-type: none;
}

ul.adminmenu li a {
  font-size: 14px;
  padding: 7px 10px;
  font-size: 1.2em;
}

ul.adminmenu li a div {
  margin-right: 10px;
}

.row {
  margin-bottom: 5px;
}


/*.error { color: red; }*/

sup {
  font-size: 20px;
  top: 0 !important;
}

table.user-list tr td,
table.user-list > thead > tr > th {
  vertical-align: middle !important;
  padding: 10px 15px;
}

table.user-list > tfoot > tr > td {
  padding: 0;
  border: none;
}

table.user-list .form-control {
  max-width: 250px;
}

.control-cell {
  min-width: 80px;
}

.sortable {
  cursor: pointer;
  cursor: hand;
}

.st-sort-ascent:before {
  content: '\25B2';
  margin-right: 4px;
}

.st-sort-descent:before {
  content: '\25BC';
  margin-right: 4px;
}

.loading {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.table_wrapper {
  min-height: 300px;
}

table.user-list tr td div.onlinestat {
  -moz-text-shadow: 0px 0px 7px #ff0000;
  -webkit-text-shadow: 0px 0px 7px #ff0000;
  text-shadow: 0px 0px 7px #ff0000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#ff0000')";
  /* For IE 5.5 - 7 */
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=s, Direction=135, Color='#ff0000');
  margin-right: 5px;
  color: #790505;
}

table.user-list tr td div.onlinestat.online {
  -moz-text-shadow: 0px 0px 7px #0cff00;
  -webkit-text-shadow: 0px 0px 7px #0cff00;
  text-shadow: 0px 0px 7px #0cff00;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#0cff00')";
  /* For IE 5.5 - 7 */
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#0cff00');
  color: #065906;
}

table.user-list tr.inactive_row td div.onlinestat {
  -moz-text-shadow: 0px 0px 7px #c1c1c1;
  -webkit-text-shadow: 0px 0px 7px #c1c1c1;
  text-shadow: 0px 0px 7px #c1c1c1;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#c1c1c1')";
  /* For IE 5.5 - 7 */
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#c1c1c1');
}

table.user-list tr.inactive_row td div.onlinestat,
.inactive_row {
  color: #c1c1c1;
}

span.glyphicon.btn-lg {
  padding: 6px 1px !important;
}

.paginWrapper {
  background-color: #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 31px;
  height: 41px;
}

.pagination-links-wrapper {
  float: left;
  margin-right: 60px;
}

.pagination {
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 6px;
}

.pagination > li > a {
  cursor: hand;
  cursor: pointer;
}

.pagination-link-box {
  width: 20px;
  text-align: center;
  line-height: 31px;
  display: block;
  float: left;
  margin-right: 6px;
}

.pagination-link-box > a {
  color: #428bca;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
}

div.buttons-block {
  margin: 20px 0;
  text-align: right;
}

ul.alert li {
  list-style-type: none;
  text-align: left;
}

.form-signin {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #a1cce8;
  padding: 20px 40px;
  border: 2px solid #c1c1c1;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  behavior: url(border-radius.htc);
  /* IE border-radius */
}

.form-signin input[type="submit"] {
  width: 100%;
}

.field__input {
  max-width: 300px;
}

.usermenu {
  position: fixed;
  top: 0;
  background-color: #666;
  color: #fff;
  width: 100%;
  font-size: 14px;
  z-index: 999;
  -moz-box-shadow: 0px -2px 20px 2px #000;
  -webkit-box-shadow: 0px -2px 20px 2px #000;
  box-shadow: 0px -2px 20px 2px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000')";
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000');
}

.usermenu .container .box {
  padding: 5px 15px;
}

.userEditPopup {
  color: #000;
}

.userEditPopup button {
  height: 30px;
}

#rolesForm {
  position: relative;
}

#rolesForm.inactive {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  /* IE 5-7 */
  filter: alpha(opacity=70);
  /* Netscape */
  -moz-opacity: 0.7;
  /* Safari 1.x */
  -khtml-opacity: 0.7;
  /* Good browsers */
  opacity: 0.7;
}

#rolesForm .sortable {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#rolesForm .row {
  margin: 1px 0;
  padding: 5px;
  -moz-border-radius: 5px;
  /* Firefox */
  -webkit-border-radius: 5px;
  /* Safari, Google Chrome */
  -khtml-border-radius: 5px;
  /* KHTML */
  -o-border-radius: 5px;
  /* Opera */
  -ms-border-radius: 5px;
  /* IE8 */
  -icab-border-radius: 5px;
  /* Icab */
  border-radius: 5px;
  /* CSS3 */
  behavior: url(border-radius.htc);
  /* IE */
}

#rolesForm .row div {
  float: left;
}

#rolesForm .row .glyphicon {
  cursor: move;
  padding-top: 3px;
  padding-right: 10px;
}

div.sortspacer {
  height: 3px;
}

img.load {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  top: 50%;
  left: 50%;
  display: none;
}

.resultbox {
  position: absolute;
  display: none;
  border: 1px solid #999;
  background-color: yellow;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -15px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  /* IE 5-7 */
  filter: alpha(opacity=70);
  /* Netscape */
  -moz-opacity: 0.7;
  /* Safari 1.x */
  -khtml-opacity: 0.7;
  /* Good browsers */
  opacity: 0.7;
  z-index: 100;
}

.double-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 5px;
  color: #666;
}

.double-icon.clickable {
  /*cursor: hand;*/
  /*cursor: pointer;*/
  color: red;
  position: absolute;
  top: -25px;
}

.rel-cell {
  position: relative;
  padding-top: 25px !important;
}

.double-cell {
  padding-top: 50px !important;
}

.double-icon.clickable:hover {
  -webkit-animation: icon_jump 0.5s ease-in-out;
  -moz-animation: icon_jump 0.5s ease-in-out;
  -o-animation: icon_jump 0.5s ease-in-out;
  animation: icon_jump 0.5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*background-color: #999;*/
  /*border-radius: 15px;*/
  /*color: #c1c1c1;*/
}

@-o-keyframes icon_jump {
  0% {
    top: -25px;
    -moz-transform: scale(1, 1);
    /* Для Firefox */
    -ms-transform: scale(1, 1);
    /* Для IE */
    -webkit-transform: scale(1, 1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(1, 1);
    /* Для Opera */
    transform: scale(1, 1);
  }
  75% {
    top: -38px;
    -moz-transform: scale(0.9, 1.1);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.1);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.1);
    /* Для Opera */
    transform: scale(0.9, 1.1);
  }
  100% {
    top: -40px;
    -moz-transform: scale(0.9, 1.2);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.2);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.2);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.2);
    /* Для Opera */
    transform: scale(0.9, 1.2);
  }
}

@-moz-keyframes icon_jump {
  0% {
    top: -25px;
    -moz-transform: scale(1, 1);
    /* Для Firefox */
    -ms-transform: scale(1, 1);
    /* Для IE */
    -webkit-transform: scale(1, 1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(1, 1);
    /* Для Opera */
    transform: scale(1, 1);
  }
  75% {
    top: -38px;
    -moz-transform: scale(0.9, 1.1);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.1);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.1);
    /* Для Opera */
    transform: scale(0.9, 1.1);
  }
  100% {
    top: -40px;
    -moz-transform: scale(0.9, 1.2);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.2);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.2);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.2);
    /* Для Opera */
    transform: scale(0.9, 1.2);
  }
}

@-webkit-keyframes icon_jump {
  0% {
    top: -25px;
    -moz-transform: scale(1, 1);
    /* Для Firefox */
    -ms-transform: scale(1, 1);
    /* Для IE */
    -webkit-transform: scale(1, 1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(1, 1);
    /* Для Opera */
    transform: scale(1, 1);
  }
  75% {
    top: -38px;
    -moz-transform: scale(0.9, 1.1);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.1);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.1);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.1);
    /* Для Opera */
    transform: scale(0.9, 1.1);
  }
  100% {
    top: -40px;
    -moz-transform: scale(0.9, 1.2);
    /* Для Firefox */
    -ms-transform: scale(0.9, 1.2);
    /* Для IE */
    -webkit-transform: scale(0.9, 1.2);
    /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9, 1.2);
    /* Для Opera */
    transform: scale(0.9, 1.2);
  }
}


/*.table tr {*/


/*height: 38px;*/


/*line-height: 38px;*/


/*}*/

.table tbody tr {
  height: 80px;
}

.user-list > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}


/*** ******* Animation styles of updating row in smart table ********* ***/

.updated,
.updated-add,
.updated-remove {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.updated,
.updated-add.updated-add-active {
  color: #c4d4f8;
  border: 5px solid #c4d4f8;
}

.updated div,
.updated-add.updated-add-active div {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}

.updated-remove.updated-remove-active {
  color: #000;
}

.actionRow.clicked td {
  background-color: #f1f1f1;
}

.onPageSelect {
  float: right;
}


/*** Animate of alarm bell at category of new actions ***/

.glyphicon-bell.alarm {
  -webkit-animation: bellUp 0.5s ease-in-out;
  /* Safari 4+ */
  -moz-animation: bellUp 0.5s ease-in-out;
  /* Fx 5+ */
  -o-animation: bellUp 0.5s ease-in-out;
  /* Opera 12+ */
  animation: bellUp 0.5s ease-in-out;
  /* IE 10+, Fx 29+ */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bellUp {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes bellUp {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes bellUp {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes bellUp {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


/*** *********************************************** ***/

.action_edit_list > li a {
  font-size: 90%;
}

.action_edit_button {
  font-weight: bold;
}


/*** ************** Actions details **************** ***/

.details_window {
  position: fixed;
  right: -50%;
  top: 0;
  height: 100%;
  -moz-box-shadow: 0px -2px 20px 2px #000;
  -webkit-box-shadow: 0px -2px 20px 2px #000;
  box-shadow: 0px -2px 20px 2px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000')";
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#000');
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  background-color: #fff;
  padding: 30px;
  z-index: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  /* Animation */
  -webkit-transition-property: right, opacity;
  -moz-transition-property: right, opacity;
  -o-transition-property: right, opacity;
  transition-property: right, opacity;
  -webkit-transition-duration: .5s, .2s;
  -moz-transition-duration: .5s, .2s;
  -o-transition-duration: .5s, .2s;
  transition-duration: .5s, .2s;
  -webkit-transition-timing-function: ease-in, linear;
  -moz-transition-timing-function: ease-in, linear;
  -o-transition-timing-function: ease-in, linear;
  transition-timing-function: ease-in, linear;
}

.details_window.active {
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.close_details_window {
  position: absolute;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  top: 19px;
  left: 19px;
}

.close_details_window:hover {
  background-color: #999;
  color: #333;
  cursor: hand;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: 15px;
  left: 15px;
}

.close_details_window:active {
  height: 18px;
  width: 18px;
  line-height: 18px;
  top: 16px;
  left: 16px;
}


/*** *********************************************** ***/

.ui-dialog {
  -moz-text-shadow: 1px 1px 10px black;
  -webkit-text-shadow: 1px 1px 10px black;
  text-shadow: 1px 1px 10px black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000')";
  filter: progid: DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000');
}

.stat-header {
  font-size: 20px;
  color: #999;
  margin-bottom: 30px;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.closeTab {
  position: absolute;
  top: -5px;
  right: -15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: hand;
  display: block;
  text-align: center;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 1px;
}

.closeTab:hover {
  padding: 0;
  border: 1px solid #cecece;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  background: -webkit-linear-gradient(90deg, #999, #fff);
  background: -o-linear-gradient(90deg, #999, #fff);
  background: -moz-linear-gradient(90deg, #999, #fff);
  background: linear-gradient(90deg, #999, #fff);
}

.closeTab:active {
  padding: 0;
  width: 18px;
  height: 18px;
  top: -4px;
  right: -14px;
  font-size: 11px;
  line-height: 18px;
}

@media (max-width: 768px) {
  .userEditPopup button {
    width: 50px !important;
  }
  .details_window {
    right: -100%;
  }
}
