.contentWrapper {
  min-height: 400px;
}

.reg-wrapper-loading {
  margin: 0 auto;
  padding-top: 80px;
  width: 100px;
  height: 200px;
}

.reg-work-box {
  min-width: 300px;
  display: none;
}

.workingBox {
  display: block !important;
}

.form-group.one-button {
  text-align: right;
}

.form-page {
  border: 1px solid #999;
  -moz-box-shadow: 0px -2px 20px 2px #999;
  -webkit-box-shadow: 0px -2px 20px 2px #999;
  box-shadow: 0px -2px 20px 2px #999;
  padding: 40px;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

small.error {
  color: red;
  font-size: 100%;
  display: block;
  margin-top: 3px;
  font-family: Merriweather, Garamond, Georgia, serif;
}

.input-group-addon.btn {
  float: left;
  cursor: default;
  height: 34px;
  border-left: 1px solid #c1c1c1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}

.input-group-addon.code-button {
  padding: 0;
  background: none;
  border: none;
  float: left;
}

.btn-back {
  margin-right: 10px;
}

.input-group-addon.btn:disabled {
  cursor: default;
}

.input-group-addon.btn {
  cursor: hand;
  cursor: pointer;
}

.submit-btn {
  text-align: right;
  padding-right: 0;
}

.reg-form-phone-group {
  overflow: hidden;
}

.reg-form-phone-box {
  float: left !important;
}

.reg-form-validcode-box {
  padding-right: 0;
}

.reg-form-phone-input {
  width: 60% !important;
}


/*-----------------  Show/hide form animation ---------------- */

.form-page.ng-hide {
  left: -60%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
}


/*---------------- / Show/hide form animation ---------------- */

.phone-code {
  color: red;
  font-size: 160%;
  line-height: 30px;
  display: block;
  font-family: Merriweather, Garamond, Georgia, serif;
}

input.ng-valid {
  border: 1px solid green;
}

@media (min-width: 768px) {
  .input-group-addon.code-button {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .reg-work-box {
    padding: 20px;
  }
  .reg-form-validcode-box {
    padding: 0;
    padding-top: 15px;
  }
  .reg-form-phone-box {
    float: none !important;
  }
  .reg-form-phone-input {
    width: 65% !important;
  }
  .btn,
  .form-control,
  .input-group-addon {
    font-size: 100% !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 220% !important;
  }
  .phone-code {
    font-size: 100%;
    line-height: 20px;
  }
  .form-page {
    padding: 20px;
  }
  .btn-back {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .submit-btn button {
    width: 100%;
  }
  .input-group-addon.code-button {
    width: 30%;
  }
  .reg-form-phone-input {
    width: 70% !important;
  }
}

@media (max-width: 350px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 180% !important;
  }
}
