<div>
  <span class="close_details_window glyphicon glyphicon-remove" ng-click="removeWindow()"></span>
  <div class="loading" ng-show="loading === true && finTranslate === false"><img src="/images/google-loading-icon.gif" width="100" height="100" alt="{{ vocabulary['Loading'] }}..." /></div>
  <div ng-if="loading === false && finTranslate === true" class="col-xs-12 col-xlg-6">
    <pre>{{ data | json }}</pre>
  </div>
  <div ng-if="loading === false && finTranslate === true" class="col-xs-12 col-xlg-6">
    <pre>{{ data.visit_params | json }}</pre>
  </div>
</div>
