<div details-window type="actions" class="details_window col-xs-12 col-lg-6 col-fhd-4"></div>

<div class="col-lg-6">
  <h2><%= LocalizBySess.__("Actions list", req) %></h2>
</div>
<div class="col-lg-6 buttons-block">
  <%  if(req.session.User.superadmin
			&& req.session.User.superadmin == true) { %>
	<a href="#" title="<%= LocalizBySess.__("Add action", req) %>"
    id="add-action" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-plus-sign"></span><%= LocalizBySess.__("Add action", req) %>
  </a>
  <% } %>
</div>

<div ng-controller="ActionsCtrl" ng-cloak ng-init="initOnPage()">
  <div class="col-lg-12 table_wrapper">
    <div ng-if="loading === false &&rowsCount == 0">No records to show by the request</div>
    <div class="loading" ng-show="loading === true"><img
      src="/images/google-loading-icon.gif" width="100" height="100"
      alt="<%= LocalizBySess.__("Loading", req) %>..." /></div>

    <button ng-click="addItem()">Click+</button>

    <tabset>
      <tab ng-repeat="tab in tabs"
        ng-if="tab.collection.length > 0"
        active="tab.active"
        disable="tab.disabled">
        <tab-heading>
          <i ng-if="tab.type === 'bells'"
            st-alarm-bell="tab.collection.length"
            class="glyphicon glyphicon-bell"></i>
          {{ tab.title }}
          <span ng-if="tab.type === 'bells'">{{ tab.collection.length }}</span>
          <span class="closeTab glyphicon glyphicon-remove" ng-click="delTab($event, tab.title)" ng-if="tab.type === 'double'"></span>
        </tab-heading>
        <st-action-table collection="tab.collection" displayed="tab.displayed"></st-action-table>
      </tab>
    </tabset>
  </div>
</div>
