<h2><%= LocalizBySess.__("Main menu", req) %></h2>
<% if(menuPoints.length > 0) { %>
<ul class="list-group adminmenu">
	<% menuPoints.forEach(function(point, index) { %>
	<% var _icon = point.icon && point.icon != '' ? point.icon : 'asterisk' %>
	<li><a href="/admin/<%= point.sysname %>" title="<%= point.pubname %>"
  	class="list-group-item<% if(controller.toLowerCase() == point.sysname.toLowerCase()) {
		%> active<% } %>"><div class="glyphicon
		glyphicon-<%= _icon %>"></div><%= LocalizBySess.__(point.pubname, req) %></a></li>
	<% }); %>
</ul>
<% } %>
