<div class="usermenu" ng-controller="defaultCtrl">
  <div class="container col-sm-12 col-xlg-10 col-xlg-offset-1">
    <div class="box">
      <div class="input-group col-xs-12 col-sm-6 col-md-4 col-xlg-2">
        <% if(sessionUser) {
          %><span class="input-group-addon"><%= LocalizBySess.__("Hello", req) %>,&nbsp;<strong><%= sessionUser.login %></strong></span>
          <select selectpicker ng-model="model" data-style="btn-info" class="userEditPopup">
            <option value="">-- <%= LocalizBySess.__("Profile edit menu", req) %> --</option>
            <option value="/admin/user/card/<%= sessionUser.id %>"><%= LocalizBySess.__("Edit", req) %>/<%= LocalizBySess.__("change password", req) %></option>
            <option value="/admin/session/exit"><%= LocalizBySess.__("Exit", req) %></option>
          </select><%
        } else {
          %><span class="input-group-addon"><a href="/admin/session/new"
            title="Login"><%= LocalizBySess.__("Login", req) %></a></span><%
        } %>
      </div>
    </div>
  </div>
</div>
