<table ng-if="loading === false" st-safe-src="rows" st-table="displayed" st-set-filter="stRolesFilter" class="table table-striped table-hover table-condensed user-list">
  <thead>
    <tr class="info">
      <th style="width: 80px;"><strong>ID</strong></th>
      <th style="width: 120px;"><strong>{{ vocabulary["Creation date"] }}</strong></th>
      <th style="width: 18%;" st-sort="type" class="sortable"><strong>{{ vocabulary["Action type"] }}</strong></th>
      <th><strong>{{ vocabulary["Full info"] }}</strong></th>
      <!--<th style="width: 180px;"><strong>{{ vocabulary["Ingoing"] }}</strong></th>-->
      <th style="width: 100px;"><strong>{{ vocabulary["Owner"] }}</strong></th>
      <th style="width: 100px;"><strong>{{ vocabulary['Status'] }}</strong></th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <st-select class="filter-select" ng-if="rows.length > 1" collection="rows" type="array" predicate="type"></st-select>
      </td>
      <td>
        <input type="search" class="form-control" st-search="fullname" placeholder="{{ vocabulary['Search'] }}&nbsp;{{ vocabulary['by action data'] }}" />
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-dblclick="rowClick($event, row.id)" class="actionRow" ng-repeat="row in displayed">
      <td class="rel-cell" ng-class="row.is_dbl === 1 ? 'double-cell' : ''">
        <div st-action-double-icon="{id: '{{ row.id }}', title: '{{ vocabulary['Show doubles'] }}', dbl: {{ row.is_dbl === 1 ? true : false }}, phone: '{{ row.phone }}'}"></div>{{ row.id }}</td>
      <td>{{ row.created | date }}</td>
      <td>{{ row.type }}</td>
      <td>{{ row.fullname }}
        <br />{{ row.phone }}
        <br />{{ row.mailbox }}
      </td>
      <!--<td>{{ objFromJsonStr(row.visit_params) !== null ? getSourceName(objFromJsonStr(row.visit_params).utm_source) : vocabulary["Undefined"] }}-->
      <!--<br /><i ng-if="objFromJsonStr(row.visit_params) !== null">({{ objFromJsonStr(row.visit_params).utm_term }})</i>-->
      <!--</td>-->
      <td align="center">
        <input type="button" class="btn btn-default" value="{{ vocabulary['Climb'] }}" ng-if="!isAtWork(row.owner)" />
        <span ng-if="isAtWork(row.owner)">{{ users[row.owner].name }}</span>
      </td>
      <td align="center">{{ stats[row.status].name }}</td>
      <td>
        <div class="" dropdown>
          <button class="btn btn-default dropdown-toggle action_edit_button" type="button" data-toggle="dropdown">...</button>
          <ul class="dropdown-menu dropdown-menu-right action_edit_list">
            <li>
              <a href="" ng-click="rowClick($event, row.id)" title="{{ vocabulary['Details'] }}"><span class="glyphicon glyphicon-cog"></span>{{ vocabulary['Manage'] }}</a>
            </li>
            <li>
              <a href="" onClick="return false;" title="{{ vocabulary['Delete action'] }}"><span class="glyphicon glyphicon-remove"></span>{{ vocabulary['Delete'] }}</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <div class="paginWrapper">
          <div st-items-by-page="onPage" st-displayed-pages="pagiVizLinks" st-pagination st-template="/templates/pagination/st-pages-links.html"></div>
          <span onpage-select class="onPageSelect"></span>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
